html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}
.left {
    padding: 2em;
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
}
.right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #000;
}
.centre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#sun {
    height: 100px;
    width: 100px;
    background-color: #fe9d20;
    border-radius: 50%;
    border-width: 5px;
}
.value {
    display: inline;
}
.container {
    margin: 1em;
}

button {
    background-color: #555555;
    border: none;
    color: #fff;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button:hover {
    background-color: #e7e7e7;
    color: #000;
}

button:focus, input:focus, select:focus {
    outline: none;
}
select {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(arrow.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    color: #555555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 10px 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}